NODE_ENV=development
PORT=3000

POSTGRES_USER=eve_user
POSTGRES_PASSWORD=eve_password
POSTGRES_DB=eve_diagnostic_booking

DATABASE_URL=postgresql://eve_user:eve_password@localhost:5433/eve_diagnostic_booking

TEST_DATABASE_URL=postgresql://eve_user:eve_password@localhost:5433/eve_diagnostic_booking_test

JWT_SECRET=change_this_to_a_long_random_secret_string
JWT_EXPIRES_IN=1d

PAYMENT_SUCCESS_RATE=0.8